<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e8612a3e-1081-4497-8484-a74a3691d5d3/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/bymyhand20240617003434</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <ApiResourceId>/subscriptions/e8612a3e-1081-4497-8484-a74a3691d5d3/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/bymyhandapi/apis/bymyhand</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bymyhand20240617003434.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>414603b1-5b7e-4eef-bbd5-96a4a49762af</ProjectGuid>
    <MSDeployServiceURL>bymyhand20240617003434.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bymyhand20240617003434</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$bymyhand20240617003434</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>